@import "../../styles/variables";

.button {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &--primary {
    background-color: $brand-color;
    border-color: $brand-color;
    color: #fff;

    &:hover {
      background-color: #ff8124;
      border-color: #b3b3b3;
      color: #fff;
    }
  }

  &--secondary {
    background-color: #fff;
    border-color: #b3b3b3;
    color: #333;

    &:hover {
      background-color: #f2f2f2;
      border-color: #b3b3b3;
      color: #333;
    }
  }

  &--ghost {
    background-color: transparent;
    border-color: transparent;
    color: #333;

    &:hover {
      background-color: #f2f2f2;
      border-color: transparent;
      color: #333;
    }
  }
}
