@import "../../styles/variables.scss";

@mixin mark-styles {
  position: absolute;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  padding: 8px;

  &--white {
    color: #000;
  }
}

.square {
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 82px;
  width: 82px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: cubic-bezier(1, 0, 0, 1) 0.1s;
  display: flex;
  position: relative;

  &:hover {
    transform: scale(1.02);
  }

  &--light {
    background: #ffe2cc;

    .square__row-mark,
    .square__col-mark {
      color: #000;
    }

    &:hover {
      background: #fff2e6;
    }
  }

  &--dark {
    background: $brand-color;
    color: #fff;

    .square__row-mark,
    .square__col-mark {
      color: #fff;
    }

    &:hover {
      background: #b34d00;
    }
  }

  &--selected {
    animation: pulse 1s infinite;
    z-index: 1;
    background: #ff7b16;

    &:hover {
      background: #ff7b16;
    }

    .square__row-mark,
    .square__col-mark {
      color: #000;
    }
  }

  &__row-mark {
    @include mark-styles;
  }

  &__col-mark {
    @include mark-styles;
    bottom: 0;
    right: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
